body {
    font-family: sans-serif;
    background-color: rgb(190, 190, 190);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    margin-top: auto;
}
h1 {
    color: rgb(85, 2, 2);
}
a:hover {
    font-size: 18px;
    color: blueviolet;
}